<div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
        <h2 class="post-title">{{title}}</h2>
        <p class="post-meta">Posted by <a href="#">{{author}}</a> on {{date}}</p>
        <p class="post-content">{{{content}}}</p>
    </div>
</div>